header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.nav_black{
    background-color: black;
}

.logo{
    width: 167px;
}

.avatar{
    width: 30px;
}