@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
  background-color: black;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: #E50914;
}