.banner {
  height: 480px;
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.banner_movie_data {
  padding-left: 3%;
  width: 30%;
  z-index: 10;
}

.b_movie_title {
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.banner_btns {
  gap: 40px;
  display: flex;
}

.banner_btn {
  padding: 6px 20px;
  border: 1px solid black;
  background-color: rgba(61, 61, 61, 0.654);
  color: white;
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
}

.banner_overview {
  color: white;
  font-size: 15px;
}

.linear_gradeint {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.23) 0%,
    rgba(0, 0, 0, 0.726) 85%,
    rgb(0, 0, 0) 100%
  );
}
